<app-shopping-search (onSeach)="searchProduct($event)"></app-shopping-search>
<div class="flex justify-center text-center my-5">
  <div class="flex flex-wrap gap-10 justify-center text-center">
    <div *ngFor="let product of filteredProducts">
      <p-card [style]="{ width: '360px' }" class="shadow-lg">
        <ng-template pTemplate="header">
          <div class="relative">
            <img
              [src]="product.image"
              [alt]="product.name"
              class="w-full h-48 object-cover rounded-t"
            />
            <div
              class="absolute top-2 left-2 bg-purple-500 text-white px-2 py-1 rounded"
            >
              <i class="pi pi-tag"></i>
            </div>
          </div>
        </ng-template>
        <p class="text-lg font-semibold mt-3">
          {{ product.name }}
        </p>
        <ng-template pTemplate="footer">
          <div class="flex justify-between items-center mt-3">
            <span class="text-green-600 font-semibold text-lg">
              ${{ product.price }}
            </span>
            <button
              pButton
              type="button"
              label="Add to Cart"
              icon="pi pi-shopping-cart"
              class="p-button-rounded p-button-success"
            ></button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
