.notification {
 background-color: red;
 width: 1.5rem;
 height: 1.5rem;
 border-radius: 50%;
 color: white;
 text-align: center;
 padding-top: 0.1em;   
 position: absolute;
 top: 0em;
 left: 1.2em;
 font-size: 14px;
}

.shopping-cart-container {
    position: relative;
}

.clickable {
    cursor: pointer;
}