<div class="flex justify-center items-center my-4">
  <button class="btn btn-active btn-neutral mr-1" (click)="decrease()">
    -
  </button>
  <input
    *ngIf="inputDisplay else elseTemplate"
    type="text"
    placeholder=""
    [value]="counter"
    class="input input-bordered w-52 max-w-xs"
  />
  <ng-template #elseTemplate>
    <span
      style="
        font-size: 20px;
        font-weight: bold;
        margin-left: 5px;
        margin-right: 5px;
      "
      >{{ counter }}</span
    >
  </ng-template>

  <button class="btn btn-active btn-neutral ml-1" (click)="increase()">
    +
  </button>
</div>
