<app-navbar></app-navbar>

<div class="flex justify-center items-center">
  <p class="my-5 text-2xl font-bold text-blue-300">Welcome To HomePage!</p>
</div>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-5">
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">Edit-Title</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="editTitle()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">Buffet 4 จ่าย 3</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToBuffet()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">Action Bar</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToActionBar()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">Max-Min-Meter</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToMaxMin()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">Style Binding</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToSqaure()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">วิธีทำ TwoWay</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToTwoWay()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">สร้าง&ทำลายView</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToView()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">การใช้งาน Array</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToArray()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">REST API</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToTestRequest()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">ใช้งาน PrimeNG</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToPrimeNg()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">Shopping Cart</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToShoppingCart()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">Shopping Search</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToShoppingSearch()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">ใช้งาน getและset</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToGetSet()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">การใช้งาน Directive</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToDirective()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">Reactive Forms</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToReactive()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">FormsModule</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToForms()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">สร้าง Validator</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToCreate()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">เปิด/ปิด side menu</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToStyle()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">แสดงผลตัวแปรให้อ่านง่ายด้วย Pipe</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToPipe()"
    >
      Click
    </button>
  </div>
  <div
    class="flex flex-col justify-center items-center border-4 w-full h-28 p-4"
  >
    <h1 class="font-bold text-center mb-3">การใช้งาน ViewChild</h1>
    <button
      class="btn bg-green-400 text-white w-64 py-2 rounded hover:bg-green-500"
      (click)="goToViewChild()"
    >
      Click
    </button>
  </div>
</div>
